.App {
  text-align: center;
  overflow:'auto';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.about-box{
display:flex;
margin-top:10%;
align-items:center;
justify-content:space-evenly;
height:83%;
}
#root{
width:100%;
height:100%;



}
.nav-bar{
    width:100%;
    height:7%;
}
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
.bungee-tint-regular {
  font-family: "Bungee Tint", serif !important;
  font-weight: bold !important;
  font-style: normal;
  font-size:x-large !important;

}
.experience-box{
display:flex;
flex-direction:column;
align-items:center;


justify-content:space-evenly;
height:83%;

}
.education-card{
width:100%;
height:50%;
display:flex;
flex-direction:row;
margin-top:3%;
margin-bottom:5%;
gap: 10px;
border-radius:35px;
padding:10px;
}

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

.newsreader {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.project-card{
max-width:20%;
max-height:70%;

}
.project-img{
width:100%;
height:100%;
margin-bottom:2%;
}
.project-stack{
margin-top:4%;
margin-left:10%;

}